.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
addressbook-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.tests.ContactModificationTests.html
addressbook-web-tests/build/reports/tests/test/index.html

*.html
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.tests.ContactModificationTests.xml
addressbook-web-tests\build
addressbook-web-tests/.gradle
addressbook-web-tests/build/reports/tests/test/packages/ru.stqa.pft.addressbook.tests.html
*.class
*.html
addressbook-web-tests/build

